html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: block;
  min-height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background: #0b0f17;
  color: rgba(255, 255, 255, 0.92);
}


button {
  font-family: inherit;
}
